@import "compass/css3";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --cb: cubic-bezier(.05, .61, .41, .95);

    --cor-1: white;
    --cor-2: black;
    --cor-3: #111318;
    --cor-5: #a18246;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-3);
    min-height: 100vh;
    min-width: 100vh;
}

/*--------INICIO DA HEADER----------*/

.header {
    background-color: var(--cor-2);

    display: flex;

    justify-content: space-between;

    position: sticky;
    width: 100%;
    height: 8rem;
    z-index: 2;

    padding: 1.5rem 10rem;
}

.logo {
    display: flex;
    
    align-items: center;

    height: 100%;
    float: left;

    gap: 1.5rem;
}

.logo span {

    color: var(--cor-5);

    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    mix-blend-mode: screen;
    vertical-align: middle;
}

.navegacao {
    display: flex;
    
    align-items: center;
    height: 100%;

    float: right;
    gap: 5rem;
}

.navegacao li{
    
    float: left;
}

.navegacao  li a{
    display: table-cell;

    color: var(--cor-1);

    font-size: 1.9rem;
    height: 100%;
    vertical-align: middle;
    transition: 500ms;
}

.navegacao li a:hover {
    color: var(--cor-5);
}

/*------------FIM DA HEADER------------*/

/*-----------------INICIO BACK VIDEO ---------*/

.text_bv {
    display: flex;
    position: relative;

    background-image: url(../images/aphel_splash_anim_img.gif);
    background-position: center;
    background-size: cover;
    background-position-y: 1rem;
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    border-color: transparent;

    width: 100%;
    height: 60rem;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 3.2rem;
    padding-top: 40rem;
}


.text_bv .overlay_splash {
    z-index: 1;
}

.text_bv #titulo {
    color: var(--cor-5);
    font-family: 'Roboto Slab', serif;

    font-size: 9.2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.text_bv_desc {
    display: flex;

    justify-content: center;

    padding-top: 2.5rem;
}

.text_bv_desc span {
    color: var(--cor-1);

    font-size: 2.1rem;
    text-transform: uppercase;
}

/*-------------FIM BACK VIDEO ------------------*/

/*----------------INICIO SEPARADOR--------------*/

.separador {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em 1em 10em;
}

.separador hr{

    height: 0.1rem;
    width: 40%;
    background: var(--cor-5);
    border: none;
    outline: none;
    position: relative;

}

.separador span {
    color: var(--cor-1);

    font-size: 3em; 
    padding: 0.3em 1em ;
}

/*-------------------FIM SEPARADOR-----------------*/


/*-----------INICIO SOBRE------------------*/

.sobre {

    display: flex;
    align-items: center;

    width: 100%;
    height: 80rem;
    padding: 12rem 7rem 7rem 7rem;
}

.campeoes_relacionados, .quote_e_resumo, .regiao {
    padding: 0.8rem;
}

.sobre .campeoes_relacionados {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20%;
}

.sobre .campeoes_relacionados #titulo {
    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: center;

    border: 1.5px solid var(--cor-5);

    width: 100%;
    height: 10%;
    gap: 0.5rem;
}

.sobre .campeoes_relacionados #titulo span {
    color: var(--cor-1);

    padding-top: 0.9rem;

    font-size: 1.5rem;
    text-transform: uppercase;
}

.sobre .campeoes_relacionados #imagem_relac_champs {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    border: 1.5px solid var(--cor-5);

    width: 100%;
    height: 90%;
}

.sobre .campeoes_relacionados #imagem_relac_champs img {
    width: 17rem;
    height: 17rem;
    border: 1.5px solid var(--cor-5);
    border-radius: 50%;
    transition: 1s;
}

.sobre .campeoes_relacionados #imagem_relac_champs img:hover {
    filter: grayscale(100%);
    transform: scale(1.3);
    cursor: pointer;
}

.sobre .quote_e_resumo {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60%;
}

.sobre .quote_e_resumo #quote_alune {
    color: var(--cor-1);

    display: flex;
    flex-direction: column;

    border: 1.5px solid var(--cor-5);

    font-size: 2.1rem;
    font-style: italic;

    padding: 1.5rem;

    align-items: center;
    justify-content: center;

    gap: 1.5rem;
    width: 100%;
    height: 15%;
}

.sobre .quote_e_resumo #quote_alune .textos_quote {
    display: flex;

    flex-direction: column;

    text-align: center;
    align-items: center;
    gap: 1rem;
}

.sobre .quote_e_resumo #quote_alune span:nth-child(2) {
    color: var(--cor-5);
}

.sobre .quote_e_resumo #resumo_biog {
    color: var(--cor-1);

    display: flex;
    flex-direction: column;

    border: 1.5px solid var(--cor-5);

    font-size: 1.7rem;

    padding: 5rem;

    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 4rem;
    width: 100%;
    height: 85%;
}

.sobre .quote_e_resumo #resumo_biog a {
    border: 2px solid var(--cor-5);
    background-color: var(--cor-3);
    color: var(--cor-1);

    font-size: 1.4rem;

    padding: 1.3rem;

    border-radius: 23px;

    transition: 500ms;
}

.sobre .quote_e_resumo #resumo_biog a:hover {
    color: var(--cor-5);
}

.sobre .regiao {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20%;
}

.sobre .regiao .nome_regiao {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1.5px solid var(--cor-5);

    width: 100%;
    height: 10%;
}

.sobre .regiao .nome_regiao span {

    color: var(--cor-1);
    font-size: 1.5rem;

    text-transform: uppercase;
}

.sobre .regiao .imagem_regiao {
    color: var(--cor-5);

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: 1.5px solid var(--cor-5);

    width: 100%;
    height: 90%;
}

.sobre .regiao .imagem_regiao span {
    text-transform: uppercase;
    font-size: 3.6rem;
}

.sobre .regiao .imagem_regiao img {
    width: 15rem;
    height: 15rem;
}

.sobre .regiao .imagem_regiao a {
    border: 2px solid var(--cor-5);
    background-color: var(--cor-3);
    color: var(--cor-1);

    font-size: 1.4rem;

    padding: 1.3rem;

    border-radius: 23px;

    transition: 500ms;
}

.sobre .regiao .imagem_regiao a:hover {
    color: var(--cor-5);
}

/*-----------------FIM SOBRE-----------------*/

/*-------------------INICIO SEPARADOR-----------*/

.titulo_hab {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em 1em 5em;
    padding-top: 7rem;
}

.titulo_hab hr {
    height: 0.1rem;
    width: 35%;
    background: var(--cor-5);
    border: none;
    outline: none;
    position: relative;
}

.titulo_hab span {
    color: var(--cor-5);

    font-size: 3em; 
    padding: 0.3em 1em ;

    text-transform: uppercase;
}

/*------------------FIM SEPARADOR------------------*/

/*--------------INICIO HABILIDADES------------*/

.habilidade {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidade .titulo_hab span {
    color: var(--cor-5);
    font-size: 2.6rem;
    text-transform: uppercase;
}

.cards {
    display: flex;
    max-width: 100rem;
    width: calc(100% - 10rem);
    height: 50rem;
  }
  
  .cards .card .info .title {
    font-weight: bold;
    font-size: 1.9rem;
  }

  .cards .card .info .desc {
      font-size: 1.4rem;
  }
  
  .cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    height: 4rem;
    background-color: var(--cor-5);
    color: var(--color);
    border-radius: 50%;
  }

  .cards .card .label .icon ion-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .cards .card .label .info {
    color: var(--cor-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    white-space: pre;
    transition: 1s var(--cb);
  }
  
  .cards .card {
    position: relative;
    min-width: 6rem;
    background: var(--bg);
    overflow: hidden;
    margin: 0.5rem;
    background-size: auto 150%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s var(--cb);
    border-radius: 3rem;
  }
  
  .cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 4rem;
    transition: 0.5s var(--cb);
  }
  
  .cards .card.active .label {
    bottom: 2rem;
    left: 2rem;
  }
  
  .cards .card.active {
    flex-grow: 10000;
    background-size: auto 100%;
  }
  
  .cards .card:not(.active) .label {
    bottom: 1rem;
    left: 1rem;
  }
  
  .cards .card .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background: linear-gradient(
      0, #0004, transparent
    );
  }
  
  .cards .card.active .info {
    opacity: 1;
  }
  
  .cards .card:not(.active) .info {
    opacity: 0;
  }

  .highlight {
    display: flex;
    flex-direction: column;

    height: 90rem;

    padding: 5rem;

    gap: 2rem;
  }

  .highlight video {
      border: 1px solid var(--cor-5);
  }

  .highlight .pt1 {
    display: flex;

    gap: 2rem;
  }

  .highlight .pt1 video {
    width: 60rem;
    height: 30rem;
  }

  .highlight .pt2 {
    display: flex;

    gap: 2rem;
}

.highlight .pt2 video {
    width: 60rem;
    height: 30rem;
}



/*--------------FIM HABILIDADES-----------------*/

/*---------------INICIO BIOGRAFIA-----------------*/

.biografia {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40rem;
    padding-top: 12rem;
    padding-bottom: 21rem;
}

.biografia .my_info {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.biografia .my_info span {
    font-size: 2.2rem;
    color: var(--cor-1);
}

.biografia img {
    width: 25rem;
    height: 25rem;
    border: 2px solid var(--cor-5);
    border-radius: 50%;
}

.biografia .biog_spec {
    font-size: 1.9rem;
    color: var(--cor-1);
}

.biografia .biog_spec ul li {
    padding: 0.5rem;
}


/*----------------FIM BIOGRAFIA---------------------*/

/*----------------INICIO POP UP FORMULARIO-----------------*/

.caixinha {
    text-align: center;

    padding-bottom: 8rem;
}

.caixinha .botao_pop {
    color: var(--cor-1);

    border-radius: 5rem;
    border: 1px solid var(--cor-5);

    font-size: 1.5rem;
    padding: 1.5rem 3.5rem;
    text-decoration: none;

    transition: all 0.3s ease-out;
}

.caixinha .botao_pop:hover {
    color: var(--cor-5);
    cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);

    position: fixed;
    padding-top: 13rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.wrapper {
    margin: 7rem auto;
    padding: 3rem;
    background-color: var(--cor-5);
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.wrapper span {
    margin-top: 0;
    color: var(--cor-5);
}

.wrapper .fechar {
    color: var(--cor-3);
    position: absolute;
    top: 2rem;
    right: 3rem;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.wrapper .conteudo_pop {
    max-height: 30%;
    overflow: auto;
}

.form_cont {
    border-radius: 5px;
    background-color: var(--cor-5);
    padding: 2rem 0;
}

.form_cont form label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.form_cont form input[type=text], .form_cont form textarea {
    width: 100%;
    padding: 1.2rem;
    border: 0.3rem solid var(--cor-2);
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    resize: vertical;
}

.form_cont form input[type="submit"] {
    background-color: var(--cor-3);
    color: var(--cor-1);

    font-size: 1.3rem;
    text-transform: uppercase;

    padding: 1.5rem 5rem;
    border: none;
    border-radius: 5rem;
    
    cursor: pointer;
}
/*-----------------FIM POP UP FORMULARIO--------------------*/

/*---------------INICIO FOOTER---------------------*/

footer {
    display: flex;

    background-color: var(--cor-2);

    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9rem;
}

footer .copyright {
    display: flex;
    flex-direction: column;

    color: var(--cor-1);

    gap: 0.8rem;
    margin: 1.5rem;
}

footer .redes_sociais{
    display: flex;

    justify-content: flex-end;
    align-items: center;

    gap: 2.5rem;
    margin-right: 2.5rem;
    color: var(--cor-1)
}

footer .redes_sociais ion-icon {
    color: var(--rscolor);

    width: 2rem;
    height: 2rem;
}

/*----------------FIM FOOTER--------------------------*/


/*------------------- INICIO RESPONSIVIDADE-----------------------*/

@media (max-width: 1330px) {

    .text_bv {
        background-image: url(../images/aphel_menor.png);
    }

    .cards {
        width: 90rem;
        width: calc(100% - 10rem);
        height: 50rem;
      }

    .highlight {
        height: 130rem;
    }

    .highlight .pt1 {
        flex-direction: column;
    }
    .highlight .pt2 {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .sobre .campeoes_relacionados #titulo{
        flex-direction: column;
    }

    .sobre .campeoes_relacionados #titulo span {
        padding-top: 0.9rem;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .sobre .campeoes_relacionados #imagem_relac_champs img {
        width: 12rem;
        height: 12rem;
    }

    .sobre .campeoes_relacionados #imagem_relac_champs img:hover {
        transform: scale(1.2);
    }
    
    .sobre .quote_e_resumo #quote_alune {
        font-size: 1.6rem;
    }

    .sobre .quote_e_resumo #resumo_biog {
        font-size: 1.5rem;
    }

    .sobre .regiao .imagem_regiao img {
        height: 13rem;
        width: 13rem;
    }

    .sobre .regiao .imagem_regiao span {
        font-size: 3.2rem;
    }

    .cards {
        max-width: 80rem;
        width: calc(100% - 10rem);
        height: 40rem;
    }

      .highlight .pt1 video {
        width: 50rem;
        height: 29rem;
    }

    .highlight .pt2 video {
        width: 50rem;
        height: 29rem;
    }
}

@media (max-width: 768px) {

    .navegacao {
        visibility: hidden;
    }

    .sobre .campeoes_relacionados #titulo {
        display: flex;

        flex-direction: column;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 160rem;
    }

    .sobre .campeoes_relacionados {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .sobre .campeoes_relacionados #titulo {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6rem;
        gap: 1.5rem;
    }

    .sobre .campeoes_relacionados #titulo span {
        font-size: 1.7rem;
        text-transform: uppercase;
    }

    .sobre .campeoes_relacionados #imagem_relac_champs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border: 0.15rem solid var(--cor-5);
        width: 100%;
        height: 25rem;
    }

    .sobre .campeoes_relacionados #imagem_relac_champs img {
        width: 15rem;
        height: 15rem;
    }

    .sobre .quote_e_resumo {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .sobre .quote_e_resumo #quote_alune {
        padding: 4.7rem;
    }

    .sobre .quote_e_resumo #resumo_biog {
        font-size: 1.7rem;
    }

    .sobre .quote_e_resumo #resumo_biog a {
        padding: 1.5rem;
        margin-bottom: -4.5rem;
    }

    .sobre .regiao {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 80%;

        padding-top: 8rem;
    }

    .sobre .regiao .nome_regiao {
        height: 5rem;
    }

    .sobre .regiao .nome_regiao span {
        color: var(--cor-1);
        font-size: 1.9rem;
    }

    .sobre .regiao .imagem_regiao img {
        margin-top: 4.5rem;

        height: 13rem;
        width: 13rem;
    }

    .sobre .regiao .imagem_regiao a {
        margin-bottom: 4.5rem;
    }

    .cards {
        max-width: 70rem;
        width: calc(100% - 10rem);
        height: 30rem;
    }

    .biografia {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 90rem;
        padding-top: 12rem;
        padding-bottom: 21rem;
    }

    .highlight .pt1 video {
        width: 50rem;
        height: 29rem;
    }

    .highlight .pt2 video {
        width: 50rem;
        height: 29rem;
    }
}